.arrow {
  background-color: lightgreen;
  margin-top: 1em;
}

.botonxi {
  background-image: url("flecha-izquierda.png");
}
.botonxd {
  background-image: url("flecha-derecha.png");
}
.pantallai{
  background-image: url("https://2.bp.blogspot.com/-cFVxsHASQNI/TrxJlBgWJnI/AAAAAAAAAVE/Kk9n6bcENyc/s1600/fondo+azul.jpg");

}
