.borde {
border-style: groove;
  background-image: url("https://i.pinimg.com/564x/73/0e/34/730e34b4e4c155a82c43754152620d92.jpg");
}
.pantalla{
  background-image: url("https://i.pinimg.com/564x/73/0e/34/730e34b4e4c155a82c43754152620d92.jpg");
}

