.arrow {
  background-color: aqua;
  margin-top: 1em;
}

app-autor-detail:hover{
  cursor: pointer;

}

.linea {
 // background-image: url("https://es.best-wallpaper.net/wallpaper/m/1312/Colorful-lines-stripes-rays-color-rainbow_m.jpg");
}

.botoni {
  background-image: url("flecha-izquierda.png");
}
.botond {
  background-image: url("flecha-derecha.png");
}
.pantallad{
  background-image: url("https://2.bp.blogspot.com/-cFVxsHASQNI/TrxJlBgWJnI/AAAAAAAAAVE/Kk9n6bcENyc/s1600/fondo+azul.jpg");

}
