.arrow {
  background-color: lightgreen;
  margin-top: 1em;
}

app-autor-detail:hover{
  cursor: pointer;

}

.linea {
 // background-image: url("https://es.best-wallpaper.net/wallpaper/m/1312/Colorful-lines-stripes-rays-color-rainbow_m.jpg");
}
