<body>
<div class="container-fluid pantallat">
  <nav class="navbar navbar-toggleable-xl ">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a class="blanco" href="#">Home</a></li>
        <li class="nav navbar-nav">
          <a class="nav-link " id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="usuario">
            <img [src]="usuario.imagenUrl" class="img-thumbnail img-fluid" [width]="50" [height]="50" alt=""> {{ usuario.usuario }}

          </a>

        </li>


        <li> <a class="blanco" href="#"[routerLink]="['/login']">Cerrar Sesión</a></li>
      </ul>

    </div>
  </nav>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="input-group mb-3">
        <input type="text" name="busqueda" class="form-control" placeholder="Buscar usuario, estudiante, materia" aria-label="Busqueda" aria-describedby="Busqueda" #busqueda (keyup)="buscar(busqueda)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
        <div *ngIf="userSearch || libroSearch || autorSearch " class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let user of userSearch">
            {{ user.usuario }} <span class="badge badge-pill badge-primary col-sm-4">Usuario</span>
          </a>
          <a class="dropdown-item" href="#" *ngFor="let libro of libroSearch">
            {{ libro.nombre }} <span class="badge badge-pill badge-info">Materia</span>
          </a>
          <a class="dropdown-item" href="#" *ngFor="let autor of autorSearch">
            {{ autor.nombre +" " + autor.apellido }} <span class="badge badge-pill badge-warning">Estudiante</span>
          </a>
        </div>
        <div class="input-group-append">
          <button class="btn text-right" (click)="buscar(busqueda)" type="button" id="btn-buscar">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-usuario></app-usuario>
<hr class="navbar" /><br>
<app-autor></app-autor>
<hr class="navbar" /><br>
<app-libro></app-libro>
<hr class="navbar" /><br>
</body>
