.navbar{
  background: #000011;
  color: white;
nav-index: revert;
}
.sticky-top{
  margin-bottom: 1em;
}

.blanco{
  color: white;
}

.pantallat{
  background-image: url("https://2.bp.blogspot.com/-cFVxsHASQNI/TrxJlBgWJnI/AAAAAAAAAVE/Kk9n6bcENyc/s1600/fondo+azul.jpg");

}
