<div class="container-fluid">
    <nav class="navbar sticky-top row justify-content-start">
      <ul class="navbar-nav col-lg-2 text-left">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="usuario">
            <img [src]="usuario.imagenUrl" class="img-thumbnail img-fluid" [width]="50" [height]="50" alt=""> {{ usuario.usuario }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </nav>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="input-group mb-3">
        <input type="text" name="busqueda" class="form-control" placeholder="Buscar usuario, autor o libro" aria-label="Busqueda" aria-describedby="Busqueda" #busqueda (keyup)="buscar(busqueda)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
        <div *ngIf="userSearch || libroSearch || autorSearch " class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let user of userSearch">
            {{ user.usuario }} <span class="badge badge-pill badge-primary col-sm-4">Usuario</span>
          </a>
          <a class="dropdown-item" href="#" *ngFor="let libro of libroSearch">
            {{ libro.nombre }} <span class="badge badge-pill badge-info">Libro</span>
          </a>
          <a class="dropdown-item" href="#" *ngFor="let autor of autorSearch">
            {{ autor.nombre +" " + autor.apellido }} <span class="badge badge-pill badge-warning">Autor</span>
          </a>
        </div>
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="buscar(busqueda)" type="button" id="btn-buscar">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-usuario></app-usuario>
<app-autor></app-autor>
<app-libro></app-libro>
